%form.login

  .header
    %img{:width => 166, :height => 44, :src => '/images/logo.png'}
    %h1 Partner Login

  .notice

  %p
    %label{:for => 'email'} Email
    %input{:type => 'text', :name => 'email'}

  %p
    %label{:for => 'password'} Password
    %input{:type => 'password', :name => 'password'}

  .actions
    %input{:type => 'submit', :name => 'submit', :value => 'Login', :class => 'btn'} Log In
