.navigation

  %ul.primary

    %li.title
      %span= @name

    -# %li
    -#   %a{:href => '#', :class => 'example'} Example

    -# %li.account
    -#   %a{:href => '#', :class => 'account'}= @email

  -#%ul.secondary.example
  -#  %li
  -#    %a{:href => '#/sub/'} Sub
